# Python
__pycache__/
*.pyc
.env

# Vector store
*.faiss
*.pkl
vectorstore/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# ===== ETL generated data =====
backend/data/EneChart/Japan_import/extractedData_AFpercentage/
backend/data/EneChart/Japan_import/extractedData_BFpercentage/
backend/data/EneChart/World_export/extractedData_AFpercentage/
backend/data/EneChart/World_export/extractedData_BFpercentage/

# ===== Generated CSV (reproducible) =====

#Excelファイル
*.xlsx


